<div class="govuk-grid-column-two-thirds-from-desktop">
  <span class="govuk-caption-l">Guidance</span>
  <h1 class="govuk-heading-l govuk-!-margin-top-0 govuk-!-margin-bottom-8">
    Report a discrepancy about a beneficial owner on the PSC register
  </h1>
  <p class="govuk-body-s govuk-!-margin-bottom-2">Contents</p>
  <ul class="govuk-list govuk-list govuk-!-margin-bottom-8 govuk-list--dashed">
    <li>
      <a class="govuk-link govuk-body-s" href="#background">What the Fifth Anti-Money Laundering Directive (5MLD) is</a>
    </li>
    <li>
      <a class="govuk-link govuk-body-s" href="#what-an-obliged-entity-is">What an obliged entity is</a>
    </li>
    <li>
      <a class="govuk-link govuk-body-s" href="#what-a-beneficial-owner-is">What a PSC is</a>
    </li>
    <li>
      <a class="govuk-link govuk-body-s" href="#what-a-discrepancy-is">What a discrepancy is</a>
    </li>
    <li>
      <a class="govuk-link govuk-body-s" href="#when-to-make-a-discrepancy-report">When to make a discrepancy report</a>
    </li>
    <li>
      <a class="govuk-link govuk-body-s" href="#start">Make a discrepancy report</a>
    </li>
    <li>
      <a class="govuk-link govuk-body-s" href="#after-the-report-is-submitted">After the report is submitted</a>
    </li>
    <li>
      <a class="govuk-link govuk-body-s" href="#contact-us">Contact us</a>
    </li>
  </ul>
</div>