<div class="govuk-grid-column-one-third-from-desktop">
  <aside class="app-related-items" role="complementary">
    <h2 class="govuk-heading-m" id="subsection-title">
      Related content
    </h2>
    <nav role="navigation" aria-labelledby="subsection-title">
      <ul class="govuk-list govuk-body-s">
        <li>
          <a class="govuk-link" href="guidance.html">
            Guidance on reporting a discrepancy
          </a>
        </li>
      </ul>
    </nav>
    <a
      class="govuk-link gem-c-contextual-sidebar__brexit-cta"
      data-module="track-click"
      data-track-category="relatedLinkClicked"
      data-track-action="1.0 Transition"
      data-track-label="/transition"
      data-track-dimension="Check what you need to do"
      data-track-dimension-index="29"
      aria-label="Brexit campaign slogan, Check, Change, Go. Check what you need to do"
      href="/transition"
      lang="en">
      <h2 class="gem-c-contextual-sidebar__brexit-heading">Brexit</h2>
      <ul class="govuk-list gem-c-contextual-sidebar__take-action-traffic-lights">
        <li>
          <img class="gem-c-contextual-sidebar__take-action-traffic-lists-icon" alt="" src="https://www.gov.uk/assets/government-frontend/govuk_publishing_components/take-action-red-5117cea61725753ad21e17234e1d12f5605c1ab8df1eab37bd7d557d200a5006.svg">
          <span class="gem-c-contextual-sidebar__take-action-traffic-lists-text">
            Check
          </span>
        </li>
        <li>
          <img class="gem-c-contextual-sidebar__take-action-traffic-lists-icon" alt="" src="https://www.gov.uk/assets/government-frontend/govuk_publishing_components/take-action-amber-ed37d78dd940d181c13d2689c7ca16a10891d89e5d278eef21e0e0001fb5a477.svg">
          <span class="gem-c-contextual-sidebar__take-action-traffic-lists-text">
            Change
          </span>
        </li>
        <li>
          <img class="gem-c-contextual-sidebar__take-action-traffic-lists-icon" alt="" src="https://www.gov.uk/assets/government-frontend/govuk_publishing_components/take-action-green-201c5dfb37cd72eb3603b1afe36c913fecfda46ecb6221f1ed8c59708bc103e0.svg">
          <span class="gem-c-contextual-sidebar__take-action-traffic-lists-text">
            Go
          </span>
        </li>
      </ul>
      <p class="gem-c-contextual-sidebar__brexit-text">Check what you need to do</p>
    </a>
  </aside>
</div>