// global styles for <a> and <p> tags
$govuk-global-styles: true;

// We can't mount GOV.UK Frontend's assets at root as it's done automatically by the extensions framework.
$govuk-assets-path: '/govuk/assets/';

// Import GOV.UK Frontend and any extension styles if extensions have been configured
@import "lib/extensions/extensions";

// Patterns that aren't in Frontend
@import "patterns/step-by-step-navigation";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
.upload-status-heading {
  display: none;
}

.upload-status {
  border: 1px solid $govuk-border-colour;
  display: none;
  @include govuk-responsive-padding(2);
  @include govuk-font($size: 19);
  @include govuk-responsive-margin(3, bottom);
}

.upload-status--active {
  display: block;
}

.upload-status__title {}

.upload-status__link,
.upload-status__status {
  display: inline-block;
}

.upload-status__status {
  width: 79%;
}

.upload-status__link {
  text-align: right;
  width: 20%;
}

.progress-bar {
  height: 20px;
  background-color: lighten(govuk-colour("blue"), 55%);
}

.indicator {
  height: 20px;
  background-color: govuk-colour("blue");
  width: 0;
}

.ch-upload-list {
  @include govuk-font($size: 19);
  @include govuk-text-colour;
  @include govuk-media-query($from: tablet) {
    width: 100%;
  }
  margin: 0; // Reset default user agent styles
  @include govuk-responsive-margin(6, 'bottom');
}

.ch-upload-list__row {
  @include govuk-responsive-padding(2);
  @include govuk-media-query($until:tablet) {
    margin-bottom: govuk-spacing(2);
    border: 1px solid $govuk-border-colour;
  }
  @include govuk-media-query($from: tablet) {
    margin-bottom: govuk-spacing(2);
    border: 1px solid $govuk-border-colour;
  }
}

.ch-upload-list__actions,
.ch-upload-list__key,
.ch-upload-list__value {
  display: inline-block;
  margin: 0; // Reset default user agent styles
  @include govuk-responsive-padding(1, 'top');
  @include govuk-responsive-padding(1, 'bottom');
  @include govuk-font($size: 19);
  @include govuk-media-query($from: tablet) {}
}

.ch-upload-list__actions {
  @include govuk-media-query($from: tablet) {
    width: 20%;
    text-align: right;
  }
}

.ch-upload-list__key,
.ch-upload-list__value {
  // Automatic wrapping for unbreakable text (e.g. URLs)
  word-wrap: break-word; // Fallback for older browsers only
  overflow-wrap: break-word;
  width: 79%;
}

.ch-upload-list__key {
  margin-bottom: govuk-spacing(1);
  @include govuk-typography-weight-bold;
  @include govuk-media-query($from: tablet) {
    width: 0;
  }
}

.ch-upload-list__value {
  @include govuk-media-query($until: tablet) {
    margin-bottom: govuk-spacing(3);
  }
  @include govuk-media-query($from: tablet) {
    width: 79%;
  }
}

// Expand width when value is last column (no action)
.ch-upload-list__value:last-child {
  @include govuk-media-query($from: tablet) {
    width: 70%;
  }
}

.ch-upload-list__value > p {
  margin-bottom: govuk-spacing(2);
}

.ch-upload-list__value > :last-child {
  margin-bottom: 0;
}

.ch-upload-list__actions-list {
  width: 100%;
  margin: 0; // Reset default user agent styles
  padding: 0; // Reset default user agent styles
}

.ch-upload-list__actions-list-item {
  display: inline;
  margin-right: govuk-spacing(2);
  padding-right: govuk-spacing(2);
}

// In older browsers such as IE8, :last-child is not available,
// so only show the border divider where it is available.
.ch-upload-list__actions-list-item:not(:last-child) {
  border-right: 1px solid $govuk-border-colour;
}

.ch-upload-list__actions-list-item:last-child {
  margin-right: 0;
  padding-right: 0;
  border: 0;
}

// No border on entire summary list
.ch-upload-list--no-border {
  @include govuk-media-query($until: tablet) {
    .ch-upload-list__row {
      border: 0;
    }
  }

  @include govuk-media-query($from: tablet) {
    .ch-upload-list__actions,
    .ch-upload-list__key,
    .ch-upload-list__value {
      // Remove 1px border, add 1px height back on
      padding-bottom: govuk-spacing(2) + 1px;
      border: 0;
    }
  }
}

// No border on specific rows
.ch-upload-list__row--no-border {
  @include govuk-media-query($until: tablet) {
    border: 0;
  }

  @include govuk-media-query($from: tablet) {
    .ch-upload-list__actions,
    .ch-upload-list__key,
    .ch-upload-list__value {
      // Remove 1px border, add 1px height back on
      padding-bottom: govuk-spacing(2) + 1px;
      border: 0;
    }
  }
}

.missing-psc {
  background: #f5f5f5;
}

#global-nav {
  font-family: 'proxima_nova', Arial, sans-serif;
  font-weight: 400;
  text-transform: none;
  font-size: 14px;
  line-height: 1.14286;
  margin: 0;
  position: relative;
  z-index: 60;
}
@media (min-width: 641px) {
  #global-nav {
    font-size: 16px;
    line-height: 1.25;
  }
}
@media (max-width: 640px) {
  #global-nav {
    margin: 0 -15px 1em;
  }
}
@media (min-width: 641px) {
  #global-nav {
    margin: 0;
  }
}
@media (min-width: 769px) {
  #global-nav {
    text-align: right;
  }
}

#global-nav .inner {
  padding: 0;
}
@media (min-width: 769px) {
  #global-nav .inner {
    padding: 0 30px;
  }
}
@media (min-width: 641px) {
  #global-nav .inner {
    padding-bottom: 0;
  }
}

#global-nav .js-header-toggle,
#global-nav .sign-in {
  display: block;
  text-decoration: none;
  cursor: pointer;
  background-color: #dee0e2;
  padding: 1em;
}
@media (min-width: 641px) {
  #global-nav .js-header-toggle,
  #global-nav .sign-in {
    display: none;
  }
}
@media (min-width: 769px) {
  #global-nav .js-header-toggle,
  #global-nav .sign-in {
    display: none;
  }
}

#global-nav .js-header-toggle:focus,
#global-nav .js-header-toggle:hover,
#global-nav .sign-in:focus,
#global-nav .sign-in:hover {
  text-decoration: underline;
}

#global-nav .home a {
  display: block;
  float: left;
  padding-left: 0;
}

#global-nav .jump-link {
  float: right;
}
@media (min-width: 769px) {
  #global-nav .jump-link {
    position: absolute;
    left: -99999em;
  }
}

#global-nav .js-header-toggle:focus {
  outline: none;
}

#global-nav .js-header-toggle:after {
  display: inline-block;
  font-size: 8px;
  height: 8px;
  padding-left: 5px;
  vertical-align: middle;
  content: ' \25BC';
}

#global-nav.open .js-header-toggle:after {
  content: ' \25B2';
}

#global-nav nav {

  border-bottom: 1px solid #bfc1c3;
}
@media (min-width: 769px) {
  #global-nav nav {
    padding: 10px 0;
  }
}
@media (min-width: 769px) {
  #global-nav nav {
    clear: none;
    background: transparent;
    position: static;
    margin-bottom: 0;
  }
}

#global-nav nav #navigation {
  margin: 0;
  padding: 0 0 1em;
}
@media (min-width: 641px) {
  #global-nav nav #navigation {
    padding: 10px 0;
  }
}
@media (min-width: 769px) {
  #global-nav nav #navigation {
    padding: 0;
  }
}

#global-nav nav .current {
  color: #fff;
}

#global-nav nav a {
  text-decoration: underline;
}

#global-nav nav li {
  padding: 10px 0 10px 16px;
  margin-bottom: 0;
  display: block;
  position: relative;
}
@media (max-width: 640px) {
  #global-nav nav li {
    padding: 1em 1em 0;
  }
}
@media (min-width: 641px) {
  #global-nav nav li {
    display: inline;
  }
}
@media (max-width: 640px) {
  #global-nav nav li.user {
    display: none;
  }
}
@media (min-width: 641px) {
  #global-nav nav li.user {
    padding-left: 0;
  }
}
@media (min-width: 641px) {
  #global-nav nav li.unauthenticated {
    padding-left: 0;
  }
}

#global-nav .home a {
  position: relative;
}

#global-nav .home a small {
  position: absolute;
  top: .8em;
  text-transform: uppercase;
  color: white;
  -webkit-font-smoothing: subpixel-antialiased;
  background-color: #dee0e2;
  padding: 2px 5px 0;
  margin-left: 10px;
}

#global-nav .home a small.alpha {
  background-color: #d53880;
}

#global-nav .home a small.beta {
  background-color: #f47738;
}

#global-header form#search input.submit {
  cursor: pointer;
}

#global-header .search-toggle {
  margin-top: 5px;
  width: 34px;
}
