{% extends "layout.html" %}

{% block pageTitle %}
  {% if errorList.length > 0 %}
    Error:
  {% endif %}
  Add another reason for your extension
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% if errorList.length > 0 %}
        {{ govukErrorSummary({
          titleText: "There was a problem with your extension information",
          errorList: errorList
        }) }}
      {% endif %}
      <form action="" method="post">
        {% if errorList.length > 0 %}
          {% set addExtensionReasonError = {
            text: addExtensionReasonErr.text
          } %}
        {% else %}
          {% set addExtensionReasonError = false %}
        {% endif %}
        {{ govukRadios({
              classes: "govuk-radios--inline",
              idPrefix: "add-extension-reason",
              name: "addExtensionReason",
              errorMessage: addExtensionReasonError,
              fieldset: {
                legend: {
                  text: 'Do you want to add another extension reason?',
                  isPageHeading: true,
                  classes: 'govuk-fieldset__legend--xl'
                }
              },
              items: [
                {
                  value: "yes",
                  text: "Yes"
                },
                {
                  value: "no",
                  text: "No"
                }
              ]
            }) }}

        {{ govukButton({
              text: "Continue",
              href: "../confirmation.html"
            }) }}
      </form>
    </div>
  </div>

{% endblock %}