{% extends "layout.html" %}

{% block pageTitle %}
  Obliged Entity PSC Discrepancy
{% endblock %}
{% block beforeContent %}

  {% include "../includes/sign-in.html" %}
  {{ govukBackLink({
  href: "#",
  text: "Back"
}) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Your discrepency report</h1>
      {{ govukSummaryList({
  rows: [
    {
      key: {
        text: "Name"
      },
      value: {
        text: "Sarah Philips"
      }
    },
    {
      key: {
        text: "Organisation"
      },
      value: {
        text: "Big Banks"
      }
    },
    {
      key: {
        text: "Type of obliged entity"
      },
      value: {
        text: "Credit institution"
      }
    },
    {
      key: {
        text: "Contact information"
      },
      value: {
        html: "72 Guild Street<br>London<br>SE23 6FH"
      }
    },
    {
      key: {
        text: "Contact details"
      },
      value: {
        html: '<p class="govuk-body">07700 900457</p><p class="govuk-body">sarah.phillips@example.com</p>'
      }
    }
  ]
 }) }}
      <h2 class="govuk-heading-m">Discrepencies for **insert company name**</h2>

      {{ govukSummaryList({
              classes: 'govuk-!-margin-bottom-9',
              rows: [
                {
                  key: {
                    text: "Name"
                  },
                  value: {
                    text: "**name of the psc**"
                  }
                },
                {
                  key: {
                    text: "Reason"
                  },
                  value: {
                    text: "**insert reason**"
                  }
                }
              ]
            }) }}

      <h2 class="govuk-heading-m">Now send your discrepency report</h2>

      <p class="govuk-body">By submitting this discrepency you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>

      <form action="/form-handler" method="post" novalidate="novalidate">

        <input type="hidden" name="answers-checked" value="true">

        {{ govukButton({
                text: "Submit discrepency",
                href: '../confirmation'
              }) }}
      </form>

    </div>
  </div>

{% endblock %}