{% extends "layout.html" %}

{% block pageTitle %}
  Get company reminders
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "company-number"
  }) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Confirm company details
      </h1>
      {{ govukSummaryList({
        rows: [
          {
            key: {
              text: "Company name"
            },
            value: {
              text: "	MANY HAPPY RETURNS TRAVEL C.I.C."
            }
          },
          {
            key: {
              text: "Company number"
            },
            value: {
              text: "03886612"
            }
          },
          {
            key: {
              text: "Registered office address"
            },
            value: {
              html: "209 Liverpool Road,<br /> PR8 4PH"
            }
          },
          {
            key: {
              text: "Next accounts made up to"
            },
            value: {
              text: '31 March 2015 due by 31 December 2015'
            }
          },
          {
            key: {
              text: "Last accounts made up to"
            },
            value: {
              text: '31 March 2014'
            }
          }
        ]
      }) }}

      {{ govukButton({
      text: "Continue",
      href: "psc-names.html"
      }) }}
    </div>
  </div>

{% endblock %}