{% extends "layout.html" %}

{% block pageTitle %}
  Get company reminders
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "person-discrepancy.html"
  }) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukCheckboxes({
        idPrefix: "waste",
        name: "waste",
        fieldset: {
          legend: {
            text: "Which are incorrect with the PSC?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        hint: {
          text: "Select all that apply."
        },
        items: [
          {
            value: "carcasses",
            text: "Name"
          },
          {
            value: "mines",
            text: "Date of birth"
          },
          {
            value: "farm",
            text: "Nationality"
          },
          {
            value: "farm",
            text: "Place of residence"
          },
          {
            value: "farm",
            text: "Correspondence address"
          },
          {
            value: "farm",
            text: "Notified date"
          },
          {
            value: "farm",
            text: "Nature of control"
          }
        ]
      }) }}
      {{ govukButton({
  text: "Save and continue",
  href: "person-name"
}) }}
    </div>
  </div>

{% endblock %}