{% extends "layout.html" %}

{% block pageTitle %}
  Get company reminders
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "psc-names"
  }) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukTextarea({
        name: "more-detail",
        id: "more-detail",
        label: {
          html: "<h1 class='govuk-fieldset__legend--xl govuk-!-margin-top-0'>What is the discrepncy with **PSC Name**?</h1>"
        },
        hint: {
          text: "This could include the name, address, notified date or nature of control"
        }
      }) }}
      {{ govukButton({
  text: "Continue",
  href: "check-details"
}) }}
    </div>
  </div>

{% endblock %}