{% extends "layout.html" %}
{% block pageTitle %}
  What information is incorrect for the PSC? - Report a discrepancy about a beneficial owner on the PSC register - GOV.UK
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {% if errorOther == true %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}
      <h1 class="govuk-heading-l">What information is incorrect for the PSC?</h1>
      <p class="govuk-body">This should include:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>details of the discrepancy, for example an incorrect address or an invalid PSC statement
        </li>
        <li>
          the date when the discrepancy was first noticed
        </a>
      </li>
    </ul>
    <form action="/discrepancy-details/other-info" method="post">
      {% if errorOther == true %}
        {{ govukTextarea({
            name: "more-detail",
            id: "more-detail",
            label: {
              html: "Incorrect PSC information"
            },
            errorMessage: {
              text: "Enter the information that is incorrect for the PSC"
            }
          }) }}
      {% else %}
        {{ govukTextarea({
            name: "more-detail",
            id: "more-detail",
            label: {
              html: "Incorrect PSC information"
            }
          }) }}
      {% endif %}
      <form action="/form-handler" method="post" novalidate="novalidate">
        <input type="hidden" name="answers-checked" value="true">
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}