{% extends "layout.html" %}
{% block pageTitle %}
  {% if errorOther == true %}
    Error:
  {% endif %}
  {{ pageTitle("Give us more information about the discrepancy") }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {% if errorOther == true %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}
      <h1 class="govuk-heading-l">Give us more information about the discrepancy</h1>
      <p class="govuk-body">You should tell us:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>what information on the PSC register is incorrect
        </li>
        <li>the correct information as you believe it should be shown on the register
        </li>
        <li>any other relevant information about the discrepancy that supports the report
        </li>
      </ul>
      <form action="{{currentUrl}}" method="post">
        {% if errorOther == true %}
          {{ govukTextarea({
            name: "more-detail",
            id: "more-detail",
            value: data['more-detail'],
            spellcheck: true,
            label: {
              html: "Discrepancy information"
            },
            errorMessage: {
              text: "Enter the information that is incorrect for the PSC"
            }
          }) }}
        {% else %}
          {{ govukTextarea({
            name: "more-detail",
            id: "more-detail",
            value: data['more-detail'],
            spellcheck: true,
            label: {
              html: "Discrepancy information"
            }
          }) }}
        {% endif %}
        <form action="/form-handler" method="post" novalidate="novalidate">
          <input type="hidden" name="answers-checked" value="true">

          {{ govukButton({
          text: "Continue"
        }) }}
        </form>
      </div>
    </div>
  {% endblock %}
