{% extends "layout.html" %}

{% block pageTitle %}
  Get company reminders
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "psc-names.html"
  }) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        **PSC Name**
      </h1>
      {{ govukRadios({
        idPrefix: "where-do-you-live",
        name: "where-do-you-live",
        fieldset: {
          legend: {
            text: "What is the discrepancy?"
          }
        },
        items: [
        {
          value: "incorrect-psc",
          text: "Incorrect PSC details"
        },
          {
            value: "duplicated-psc",
            text: "Duplicate PSC"
          },
          {
            value: "inactive-psc",
            text: "Inactive PSC"
          },
          {
            value: "unauthorised-psc",
            text: "Unauthorised PSC"
          }
        ]
      }) }}
      {{ govukButton({
  text: "Save and continue",
  href: "incorrect-psc-options"
}) }}
    </div>
  </div>

{% endblock %}