{% extends "layout.html" %}
{% block pageTitle %}
  Get company reminders
{% endblock %}
{% block beforeContent %}
  {% include "../includes/sign-in.html" %}
  {{ govukBackLink({
    text: "Back",
    href: "psc-person-discrepencies"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">**insert pages depending on what is checked**</h1>
      <p>**For each box selected generate a new page for that field. So there could be up to 7 pages**</p>
      {{ govukButton({
text: "Continue",
href: "other-info"
}) }}
    </section>
  </div>
</div>
{% endblock %}