{% extends "layout.html" %}

{% block pageTitle %}
  Get company reminders
{% endblock %}
{% block beforeContent %}

  {% include "../includes/sign-in.html" %}

  {{ govukBackLink({
    text: "Back",
    href: "psc-names"
  }) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukCheckboxes({
  idPrefix: "nationality",
  name: "nationality",
  fieldset: {
    legend: {
      text: "Which PSC information is incorrect?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  items: [

    {
      value: "british",
      text: "Name"
    },

    {
      value: "other",
      text: "Date of birth"
    },
    {
      value: "irish",
      text: "Nationality"
    },
    {
      value: "irish",
      text: "Place of residence"
    },
    {
      value: "irish",
      text: "Address"
    },
    {
      value: "irish",
      text: "Notified date"
    },
    {
      value: "irish",
      text: "Nature of control"
    },
    {
      value: "irish",
      text: "The PSC is a duplicate, inactive or unauthorised"
    }
  ]
}) }}
      {{ govukButton({
text: "Continue",
href: "other-info"
}) }}
    </section>
  </div>
</div>

{% endblock %}