{% set title = "Tell us your company number" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{ pageTitle("What type of discrepancy are you reporting?") }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <form action="{{currentUrl}}" method="post">
        {% if errorPSC == true %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
          }) }}
          {{ govukCheckboxes({
          idPrefix: "pscperson",
          name: "pscperson",
          fieldset: {
            legend: {
              html: "What type of discrepancy are you reporting for" + pscSingle.name + "?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Select all that apply."
          },
          errorMessage: {
  text: "Select the type of discrepancy you are reporting"
},
          items: [
            {
              value: "Name",
              text: "Name"
            },
            {
              value: "Nature of control",
              text: "Nature of control"
            },
            {
              value: "Date of birth",
              text: "Date of birth"
            },
            {
              value: "Nationality",
              text: "Nationality"
            },
            {
              value: "Correspondence address",
              text: "Correspondence address"
            },
            {
              value: "Notified date",
              text: "Notified date"
            },
            {
              value: "Place of residence",
              text: "Place of residence"
            },
            {
              value: "Other reason",
              text: "Other reason"
            }
          ]
          }) }}
        {% else %}
          {{ govukCheckboxes({
        idPrefix: "pscperson",
        name: "pscperson",
        fieldset: {
          legend: {
            html: "What type of discrepancy are you reporting for " + pscSingle.name + "?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "Select all that apply."
        },
        items: [
        {
          value: "Name",
          text: "Name"
        },
        {
          value: "Nature of control",
          text: "Nature of control"
        },
        {
          value: "Date of birth",
          text: "Date of birth"
        },
        {
          value: "Nationality",
          text: "Nationality"
        },
        {
          value: "Correspondence address",
          text: "Correspondence address"
        },
        {
          value: "Notified date",
          text: "Notified date"
        },
        {
          value: "Place of residence",
          text: "Place of residence"
        },
        {
          value: "Other reason",
          text: "Other reason"
        }
        ]
        }) }}
        {% endif %}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
