{% extends "layout.html" %}
{% block pageTitle %}
  Get company reminders
{% endblock %}
{% block beforeContent %}
  {% include "../includes/sign-in.html" %}
  {{ govukBackLink({
    text: "Back",
    href: "company-number"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukRadios({
  classes: "govuk-radios--inline",
  idPrefix: "changed-name",
  name: "changed-name",
  fieldset: {
    legend: {
      text: "Is the PSC a duplicate, inactive or unauthorised?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  hint: {
    text: ""
  },
  items: [
    {
      value: "yes",
      text: "Yes"
    },
    {
      value: "no",
      text: "No"
    }
  ]
}) }}
      <p>**if yes then jump to the free for all text box**</p>
      <p>** if no then go to the tickboxes about which information is incorrect**</p>
      {{ govukButton({
text: "Continue",
href: "psc-person-discrepencies"
}) }}
    </div>
  </div>
{% endblock %}