{% extends "layout.html" %}
{% block pageTitle %}
  {% if errorNum == true %}
    Error:
  {% endif %}
  {{ pageTitle("What is the company number for the PSC with the discrepancy?") }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <form action="/company-lookup/company-number" method="post">
        {% if errorNum == true %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
          }) }}
          {{ govukInput({
            label: {
              text: "What is the company number for the PSC with the discrepancy?",
              isPageHeading: true,
              classes: "govuk-label--l"
            },
            classes: "govuk-input--width-10",
            id: "number",
            value: data['number'],
            name: "number",
            errorMessage: {
              text: "Company number must be 8 characters"
            }
          }) }}
        {% else %}
          {{ govukInput({
            label: {
              text: "What is the company number for the PSC with the discrepancy?",
              isPageHeading: true,
              classes: "govuk-label--l"
            },
            classes: "govuk-input--width-10",
            id: "number",
            value: data['number'],
            name: "number"
          }) }}
        {% endif %}
        {{ govukDetails({
          summaryText: "How do I find the company number?",
          html: "<p>You can find this by searching for the company on the <a target='blank' href='https://beta.companieshouse.gov.uk/'>Companies House register (opens in a new tab)</a>.</p>"
         }) }}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}