{% extends "layout-govuk.html" %}
{% block pageTitle %}
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Business and industry",
      href: "https://www.gov.uk/business-and-industry"
    }
  ]
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    {% include "../includes/govuk-content-header.html" %}
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">
      <h3 class="govuk-heading-m">Background</h3>
      <p class="govuk-body">On 10 January 2020, the Fifth Anti-Money Laundering Directive (5MLD) came into force in the UK through the Money Laundering and Terrorist Financing (Amendment) Regulations 2019.</p>
      <p class="govuk-body">This means that obliged entities must make a report to Companies House if there’s a discrepancy between the information on the people with significant control (PSC) register, and the information they hold about a beneficial owner of a: </p>

<ul class="govuk-list govuk-list--bullet">
  <li>company</li>
  <li>limited liability partnership (LLP)</li>
  <li>Scottish limited partnership (SLP)</li>
  <li>Scottish qualifying partnership (SQP) </li>
</ul>
  <p class="govuk-body">This will help us to make sure that the register is accurate, adequate and as up to date as possible.</p>

    </div>
    {% include "../includes/govuk-aside.html" %}

  </div>
{% endblock %}
