{% extends "layout-govuk.html" %}
{% block pageTitle %}
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Business and industry",
      href: "https://www.gov.uk/business-and-industry"
    }
  ]
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    {% include "../includes/govuk-content-header.html" %}
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">
      <h3 class="govuk-heading-m">Information shown on the PSC register</h3>

      <p class="govuk-body govuk-!-font-weight-bold">Individual registrable person</p>
            <p class="govuk-body">Information about an individual registrable person includes:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>their name</li>
              <li>their service address</li>
              <li>the part of the UK (or country or state) where they usually live</li>
              <li>their nationality</li>
              <li>their day and month of birth</li>
              <li>the date that they became a registrable person for the company</li>
              <li>the nature of control over the company</li>
              <li>any restrictions regarding the disclosure of their identity as a PSC</li>
            </ul>

      <p class="govuk-body govuk-!-font-weight-bold">Relevant legal entity (RLE)</p>
            <p class="govuk-body">Information about a registrable RLE includes:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>a corporate or firm name</li>
              <li>a registered or principal office</li>
              <li>legal form and the law by which it is governed</li>
              <li>the register of companies in which it is entered (including details of the state) and its registration number</li>
              <li>the date that it became the company’s RLE</li>
              <li>its nature of control over the company</li>
              </ul>

      <p class="govuk-body govuk-!-font-weight-bold">Other registrable person (ORP)</p>
            <p class="govuk-body">Information about an ORP, such as a local authority or corporate sole, includes:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>a name</li>
              <li>a principal office</li>
              <li>a legal form and the law by which it is governed</li>
              <li>the date that they became a registrable person for the company</li>
              <li>the nature of control over the company</li>
              </ul>

    </div>
    {% include "../includes/govuk-aside.html" %}

  </div>
{% endblock %}
