{% extends "layout-govuk.html" %}
{% block pageTitle %}
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Business and industry",
      href: "https://www.gov.uk/business-and-industry"
    }
  ]
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    {% include "../includes/govuk-content-header.html" %}
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">
      <h3 class="govuk-heading-m">Privacy statement</h3>

<p class="govuk-body govuk-!-font-weight-bold">What personal data we collect</p>
      <p class="govuk-body">The personal information we collect is:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the name of the obliged entity (if an individual)</li>
        <li>the name of the PSC who is the subject of the discrepancy</li>
        <li>the email address of the obliged entity (if an individual)</li>
        <li>the telephone number of the obliged entity (if an individual)</li>  <li>the postal address of the obliged entity (if an individual)</li>
        <li>the nationality of the PSC who is the subject of the discrepancy</li>
        <li>the postal address of the PSC who is the subject of the discrepancy</li>
        <li>the title or position of the PSC who is the subject of the discrepancy</li>
       <li>any other personal information voluntarily provided by the person submitting the report</li>
            </ul>

      <p class="govuk-body govuk-!-font-weight-bold">How the personal data is used</p>

      <p class="govuk-body">The data provided by the obliged entity is compared with the relevant data on the public register. If necessary, the data on the public register will be corrected and annotated.</p>
      <p class="govuk-body">The personal data of the obliged entity will be used to contact the obliged entity for more information if needed and to return information on the outcome of the discrepancy report. The data will be stored on the Companies House register along with the associated discrepancy report.</p>
      <p class="govuk-body">The personal data of the obliged entity and the personal data of the PSC identified in the discrepancy report will not be made available to the public although the data may already be on the public register for filing purposes.</p>

        <p class="govuk-body govuk-!-font-weight-bold">The legal basis for the use of this personal data</p>
        <p class="govuk-body">The basis for the use of this data is to comply with a legal obligation to which Companies House is subject.</p>

        <p class="govuk-body govuk-!-font-weight-bold">Where the data is stored</p>
        <p class="govuk-body">The data is stored temporarily on a third party’s system in the UK. The data is expected to be stored there for no longer than a day.</p>
        <p class="govuk-body">The data will be held on the PSC register in Companies House but not on the public register.</p>

        <p class="govuk-body govuk-!-font-weight-bold">How long the personal data is held</p>
        <p class="govuk-body">Companies House will hold the personal data of the obliged entity and the personal data of the PSC in the discrepancy report on its PSC register for 10 years.</p>

        <p class="govuk-body govuk-!-font-weight-bold">Individual rights</p>
        <p class="govuk-body">The GDPR provides certain rights that individuals may exercise in respect of their own personal data. If you want to exercise any of these rights, please contact the DPO.</p>

        <p class="govuk-body govuk-!-font-weight-bold">Complaints</p>
        <p class="govuk-body">If you have a complaint about the way we’re managing your personal data, you can let us know in the first instance by writing to dpo@companieshouse.gov.uk.</p>
        <p class="govuk-body">If you’re still dissatisfied, you can raise your concerns with:</p>
        <div class="govuk-inset-text">
  The Information Commissioner’s Office <br>
  Wycliffe House <br>
  Water Lane <br>
  Wilmslow <br>
  Cheshire <br>
  SK9 5AF <br>
</div>

    </div>
    {% include "../includes/govuk-aside.html" %}

  </div>
{% endblock %}
