{% extends "layout-govuk.html" %}
{% block pageTitle %}
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Business and industry",
      href: "https://www.gov.uk/business-and-industry"
    }
  ]
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    {% include "../includes/govuk-content-header.html" %}
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">
      <h3 class="govuk-heading-m">Make a discrepancy report</h3>
      <p class="govuk-body">
        Use this service if you are an obliged entity and the information you hold about a beneficial owner is different from the information on the people with significant control (PSC) register.
      </p>
      <p class="govuk-body">You'll need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the company number of the entity being reported as having a discrepancy</li>
        <li>details of the discrepancy, for example, an incorrect address or an invalid PSC statement</li>
        <li>the date when the discrepancy was first noticed</li>
      </ul>
      <p>Reporting a discrepancy takes up to 10 minutes.
      </p>
      {{ govukButton({
        text: "Start now",
        href: "../sign-in/sign-in",
        isStartButton: true
      }) }}
    </div>
    {% include "../includes/govuk-aside.html" %}
  </div>
{% endblock %}