{% extends "layout-govuk.html" %}
{% block pageTitle %}
Make a discrepancy report - Report a discrepancy about a beneficial owner on the PSC register - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Business and industry",
      href: "https://www.gov.uk/business-and-industry"
    }
  ]
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    {% include "../includes/govuk-content-header.html" %}
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">
      <h3 class="govuk-heading-m">Make a discrepancy report</h3>
      <p class="govuk-body">To report a discrepancy, you'll need:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>the company number of the entity being reported as having a discrepancy</li>
        <li>the type of discrepancy</li>
        <li>what information on the PSC register is incorrect, for example an incorrect address or an invalid PSC statement</li>
        <li>the correct information as you believe it should be shown on the register</li>
        <li>any other relevant information about the discrepancy that supports the report</li>
      </ul>
      <p>Reporting a discrepancy takes up to 10 minutes.
      </p>
      {{ govukButton({
        text: "Start now",
        href: "../sign-in/sign-in",
        isStartButton: true
      }) }}
      <h2 class="govuk-heading-m">Before you start</h2>

 <p class="govuk-body">Read our <a class="govuk-link" href="privacy-statement.html">privacy statement</a> before you make a report.</p>
 <p class="govuk-body">If one or more person with significant control (PSC) for a company has their details protected, you will not be able to use this service to report a discrepancy. You must <a class="govuk-link" href="contact-us.html">contact the PSC discrepancy team</a> directly instead.</p>
    </div>
    {% include "../includes/govuk-aside.html" %}
  </div>
{% endblock %}
