{% extends "layout-govuk.html" %}
{% block pageTitle %}
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Business and industry",
      href: "https://www.gov.uk/business-and-industry"
    }
  ]
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    {% include "../includes/govuk-content-header.html" %}
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">
      <h3 class="govuk-heading-m">Type of discrepancy</h3>
      <p class="govuk-body">When selecting the type of discrepancy you are reporting, you should consider the following guidance:</p>

<p class="govuk-body govuk-!-font-weight-bold">Person</p>
      <p class="govuk-body">Report a discrepancy with an existing person. For example:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>name</li>
        <li>nature of control</li>
        <li>date of birth</li>
          <li>inactive</li>
      </ul>

      <p class="govuk-body govuk-!-font-weight-bold">Company</p>
            <p class="govuk-body">Report a discrepancy with an existing company or relevant legal entity (RLE). For example:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>nature of control</li>
              <li>governing law</li>
              <li>legal form</li>
                <li>inactive</li>
            </ul>

        <p class="govuk-body govuk-!-font-weight-bold">Other registered person (ORP)</p>
              <p class="govuk-body">Report a discrepancy with an existing ORP. For example:</p>
              <ul class="govuk-list govuk-list--bullet">
                    <li>nature of control</li>
                    <li>governing law</li>
                    <li>legal form</li>
                  </ul>

  <p class="govuk-body">See chapter 7.4.10 of the <a href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/753027/170623_NONSTAT_GU__1_.pdf" class="govuk-link">PSC guidance</a> for more information.</p>

  <p class="govuk-body govuk-!-font-weight-bold">Statement</p>
        <p class="govuk-body">Report a discrepancy with an existing PSC statement. For example:</p>
        <ul class="govuk-list govuk-list--bullet">
              <li>duplicate</li>
              <li>incorrect</li>
              <li>missing</li>
            </ul>

  <p class="govuk-body govuk-!-font-weight-bold">Statement</p>
    <p class="govuk-body">Report a discrepancy where the existing listing on the register is incorrect. For example, the company has stated that they do not have a PSC but there is a shareholder who would qualify, or a person has been notified as an RLE.</p>

    <p class="govuk-body govuk-!-font-weight-bold">PSC missing</p>
     <p class="govuk-body">Report a person, RLE or ORP who qualifies but is not included in the register. For example, there are 2 qualifying shareholders but only one on the register.</p>

     <p class="govuk-body govuk-!-font-weight-bold">Exemption</p>
      <p class="govuk-body">Report a discrepancy with the exemption statement. For example, we have been notified that they are listed on an EEA market, but they are actually listed on a UK market.</p>

    </div>
    {% include "../includes/govuk-aside.html" %}

  </div>
{% endblock %}
