{% extends "layout-govuk.html" %}
{% block pageTitle %}
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Business and industry",
      href: "https://www.gov.uk/business-and-industry"
    }
  ]
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    {% include "../includes/govuk-content-header.html" %}
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">
      <h3 class="govuk-heading-m">What a beneficial owner is</h3>
      <p class="govuk-body">A beneficial owner is the person who benefits from a legal entity and exercises control over it and the assets it holds.</p>
     <p class="govuk-body">A beneficial owner does not have the same definition as a PSC. The requirement to report discrepancies is based on the Companies Act definition of a PSC.</p>

     <p class="govuk-body call-to-action">Read <a href="#" class="govuk-link">how to identify PSCs of companies and limited liability partnerships (LLPs)</a> and <a href="#" class="govuk-link">how to identify Scottish qualifying partnerships</a>.</p>





    </div>
    {% include "../includes/govuk-aside.html" %}

  </div>
{% endblock %}
