{% extends "layout-govuk.html" %}
{% block pageTitle %}
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Business and industry",
      href: "https://www.gov.uk/business-and-industry"
    }
  ]
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    {% include "../includes/govuk-content-header.html" %}
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">
      <h3 class="govuk-heading-m">What a discrepancy is</h3>
      <p class="govuk-body">A discrepancy is when the information that an obliged entity holds about a beneficial owner clearly shows that the information recorded by Companies House is incorrect. Our focus is on factual errors, such as a missing PSC or an incorrect service address, not typing mistakes.</p>

       <p class="govuk-body">A discrepancy exists when a relevant entity has information that clearly indicates that the PSC information recorded by Companies House is inaccurate.</p>

       <p class="govuk-body">This could include a discrepancy with a:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>person listed as a PSC</li>
  <li>missing PSC</li>
  <li>PSC exemption</li>
  <li>PSC type</li>
  <li>address</li>
  <li>place of registration</li>
  <li>date of birth</li>
  <li>legal form</li>
  <li>company statement</li>
</ul>
  <p class="govuk-body">It is not a discrepancy when the entity holds information that goes beyond or is not required for the PSC register.</p>
  <p class="govuk-body">A spelling error is not a discrepancy. For example, Jon Smith instead of John Smith, or a missing or slightly different spelling of a middle name.</p>
  <p class="govuk-body">Obliged entities should tell the company to contact us to correct these minor errors.</p>

<p class="govuk-body govuk-!-font-weight-bold">If a beneficial owner’s correspondence address is different from the service address on the PSC register</p>

<p class="govuk-body">The address shown for a PSC on Companies House records is a service address - this does not have to be their home address. Obliged entities should take this into consideration.</p>
<p class="govuk-body">PSCs must provide their home address to Companies House, but it’s kept on a private register. It’s only available on request to credit reference agencies and specified public authorities.</p>
<p class="govuk-body">As the PSC’s home address is not available on the public register, it might not be a discrepancy if it does not match the address given to an obliged entity.</p>
<p class="govuk-body">Obliged entities should check with their client if the correspondence address they’ve given when a new business relationship is being set up has also been given as the PSC’s usual residential address (home address) with Companies House.</p>
<p class="govuk-body">If they confirm it’s the same address, you do not need to make a discrepancy report.</p>

    </div>
    {% include "../includes/govuk-aside.html" %}

  </div>
{% endblock %}
