{% extends "layout-govuk.html" %}
{% block pageTitle %}
When to make a discrepancy report - Report a discrepancy about a beneficial owner on the PSC register - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "#"
    },
    {
      text: "Business and industry",
      href: "https://www.gov.uk/business-and-industry"
    }
  ]
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    {% include "../includes/govuk-content-header.html" %}
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible govuk-!-margin-top-0">
      <h3 class="govuk-heading-m">When to make a discrepancy report</h3>
      <p class="govuk-body">Obliged entities must make a report if they find a discrepancy when setting up a new business relationship with a customer.</p>

       <p class="govuk-body">You should report a discrepancy as soon as possible. Bulk reporting is not allowed. Obliged entities must not wait to make reports in bulk as this means the PSC register will not be up to date.</p>
       {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

       {{ govukInsetText({
         text: "A discrepancy report does not replace a Suspicious Activity Report
    (SAR). You should still submit a SAR to the National Crime Agency when it is needed.
"
       }) }}

    </div>
    {% include "../includes/govuk-aside.html" %}

  </div>
{% endblock %}
