{% set title = "Sign in to Companies House" %}
{% extends "layout.html" %}
{% block pageTitle %}
  {{title}}
  -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/guest-signin/option"
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-l">{{title}}</h1>
      <p class="govuk-body govuk-hint">You cannot use your WebFiling details to sign in. You must sign in to or register a Companies House account.</p>
      <form action="/sign-in/sign-in" method="post">
        {% if errorEmail == true or errorPassword == true %}
          {{ govukErrorSummary({
              titleText: "There is a problem",
              errorList: errorList
            }) }}
        {% endif %}
        {% if errorEmail == true %}
          {{ govukInput({
            label: {
              text: "Email address"
            },
            id: "email",
            type: "email",
            name: "email",
            autocomplete: "email",
            errorMessage: {
              text: "Enter your email address"
            }
          }) }}
        {% else %}
          {{ govukInput({
            label: {
              text: "Email address"
            },
            type: "email",
            autocomplete: "email",
            id: "email",
            name: "email"
          }) }}
        {% endif %}
        {% if errorPassword == true %}
          {{ govukInput({
            label: {
              text: "Password"
            },
            id: "password",
            name: "password",
            type: "password",
            errorMessage: {
              text: "Enter your password"
            }
          }) }}
        {% else %}
          {{ govukInput({
            label: {
              text: "Password"
            },
            id: "password",
            name: "password",
            type: "password"
          }) }}
        {% endif %}
        {{ govukButton({
        text: "Sign in"
        }) }}
        <p>
          <a href="" class="govuk-link govuk-link--no-visited-state">Register a new account</a>
        </p>
        <p>
          <a href="" class="govuk-link govuk-link--no-visited-state">I've forgotten my password</a>
        </p>
      </form>
    </div>
  </div>
{% endblock %}