{% extends "emails/layout-email.html" %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Outcome of PSC discrepancy report</h1>
        <h2 class="govuk-heading-m">Report details</h2>
      {{ govukTable({
        rows: [
        [
          {
            text: "Reference number"
          },
          {
            text: "RD-20-00-00-01"
          }
        ],
          [
            {
              text: "Company number"
            },
            {
              text: "10393288"
            }
          ],
          [
            {
              text: "Company name"
            },
            {
              text: "ZLC LTD"
            }
          ],
          [
            {
              text: "Name of PSC"
            },
            {
              text: "Mrs Catherine Isabel Gaynor"
            }
          ],
          [
            {
              text: "Type of discrepancy"
            },
            {
              text: "Name"
            }
          ],
          [
            {
              text: "More information about the discrepancy"
            },
            {
              text: "The PSC's name is shown as 'Catherine on the PSC register. The name should be shown as 'Catelin'. This is what is shown on her driver's licence."
            }


          ]
        ]
      }) }}
  <h2 class="govuk-heading-m">Outcome</h2>
  <p class="govuk-body">We have completed our investigation into the discrepancy shown on your report. The PSC register has been updated and your report is now closed.
  </p>
      <h2 class="govuk-heading-m">Contact us</h2>
      <p class="govuk-body">If you need to contact us about your report, email
        <a href="mailto:pscdiscrepancies@companieshouse.gov.uk">pscdiscrepancies@companieshouse.gov.uk</a>.
      </p>
      <h2 class="govuk-heading-m">Feedback</h2>
      <p>This is a new service. Help us improve it by completing our
        <a href="#">quick survey</a>.</p>
    </div>
  </div>
{% endblock %}
