{% extends "layout.html" %}
{% block pageTitle %}
  Check your answers before submitting your report -
  {{serviceName}}
  - GOV.UK
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-l">Check your answers before submitting your report</h1>
      <h2 class="govuk-heading-m">Personal details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['full-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Email address
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['email'] }}
          </dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Organisation name
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['your-organisation-name'] }}
          </dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Organisation type
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['obliged-type'] }}
          </dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
      </dl>
      <h2 class="govuk-heading-m">Company details for the PSC with the discrepancy</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company number
          </dt>
          <dd class="govuk-summary-list__value">
            {{company.company_number}}
          </dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Company name
          </dt>
          <dd class="govuk-summary-list__value">
            {{company.company_name}}
          </dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
      </dl>
      <h2 class="govuk-heading-m">Discrepancy details</h2>
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            PSC
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['psc'] }}
          </dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Discrepancy
          </dt>
          <dd class="govuk-summary-list__value">
            <ul class="govuk-list govuk-list--bullet">
              {% for feature in data['pscname'] %}
                <li>{{ feature }}</li>
              {% else %}
                <li>No discrepancy reason selected</li>
              {% endfor %}
            </ul>
          </dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Additional information
          </dt>
          <dd class="govuk-summary-list__value">{{ data['more-detail'] }}</dd>
          <dd class="govuk-summary-list__actions"></dd>
        </div>
      </dl>
    </div>
  </div>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-m">Now submit your report</h2>
      <p class="govuk-body">By submitting this report you are confirming that, to the best of your knowledge, the details you are providing are correct.</p>
      <form action="/check-your-answers" method="post" novalidate="novalidate">
        <input type="hidden" name="answers-checked" value="true">
        {{ govukButton({
          text: "Submit report"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}