{% extends "layout.html" %}
{% block pageTitle %}
  PSC discrepancy submitted
{% endblock %}
{% block beforeContent %}
  {% include "includes/sign-in.html" %}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set buttonHref = "Your reference is MLD0001" %}
      {{ govukPanel({
        titleText: "Discrepency submitted",
        html: buttonHref
      }) }}
      <h2 class="govuk-heading-m">What happens next?</h2>
      <p class="govuk-body">We will review your submitted case or cases.</p>
      <p class="govuk-body">Once we have reviewed the claim we will then let you know by email the decision</p>
      <h2 class="govuk-heading-m">Urgent requests</h2>
      <p class="govuk-body">If you need something urgently email us at
        <a class="govuk-link" href="mailto:pscdiscrepancies@companieshouse.gov.uk">pscdiscrepancies@companieshouse.gov.uk</a>
      </p>
      <p class="govuk-body">
        <a href="/">Submit another discrepancy</a>
      </p>
      <p class="govuk-body">
        <a href="#">What did you think of this service?</a>
        (takes 30 seconds)</a>
    </p>
  </div>
</div>
{% endblock %}