{% extends "layout.html" %}
{% block pageTitle %}
  PSC discrepancy submitted
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set buttonHref = "Reference: RD-20-00-00-01" %}
      {{ govukPanel({
        titleText: "Discrepancy report submitted",
        html: buttonHref
      }) }}
      <h2 class="govuk-heading-m">What happens next?</h2>
      <p class="govuk-body">We may need to contact the company about the discrepancy, which could take some time. We'll contact you when we have completed our enquiries.
      </p>
      <p class="govuk-body">If you have any further information concerning this discrepancy, email
        <a class="govuk-link" href="mailto:pscdiscrepancies@companieshouse.gov.uk">pscdiscrepancies@companieshouse.gov.uk</a>
      </p>
      <p class="govuk-body">
        <a href="/">Submit another discrepancy</a>
      </p>
      <h2 class="govuk-heading-l">Help us to improve this service</h2>

      {{ govukRadios({
        idPrefix: "feedback",
        name: "feedback",
        fieldset: {
          legend: {
            text: "How would you describe your experience with this service?"
          }
        },
        items: [
          {
            value: "very-good",
            text: "Very good"
          },
          {
            value: "good",
            text: "Good"
          },
          {
            value: "neither",
            text: "Neither good or bad"
          },
          {
            value: "bad",
            text: "Bad"
          },
          {
            value: "very-bad",
            text: "Very bad"
          }
        ]
      }) }}
      {{ govukTextarea({
        name: "more-detail",
        id: "more-detail",
        label: {
          text: "How can we improve this service?"
        },
        hint: {
          text: "For example, if a question was confusing let us know which one."
        }
      }) }}
      {{ govukButton({
        text: "Submit"
      }) }}
    </div>
  </div>
{% endblock %}