{% extends "layout.html" %}
{% block pageTitle %}
  Report a discrepancy about a beneficial owner on the PSC register by an obliged entity
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  href: "index.html",
  text: "Back"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl">Report a discrepancy about a beneficial owner on the PSC register
      </h1>
      <p class="govuk-body-l">This guide is for obliged entities who need to tell Companies House that the information they hold about a beneficial owner is different from the information on the people with significant control (PSC) register.
      </p>
      <p>Obliged entities [link to what an obliged entity is in full guidance] must let us know if there’s a discrepancy between the information that they have about a beneficial owner of a company, limited liability partnership, or Scottish limited or
        qualifying partnership, and the information that’s on the public PSC register.
      </p>
      <p>This will help us to make sure the register is as accurate and up to date as possible.
      </p>
      <p>A beneficial owner does not have the same definition as a PSC. The requirement to report discrepancies is based on the Companies Act definition of a PSC.</p>
      <h2 class="govuk-heading-l">When to report a discrepancy
      </h2>
      <p>Obliged entities should make a report if discrepancies are found when setting up a new business relationship with a customer. The discrepancy report should be made as soon as possible. Obliged entities should not wait to make reports in bulk as
        this prevents the PSC register being kept up to date.
      </p>
      <p>A discrepancy report does not replace a Suspicious Activity Report (SAR). You should still submit a SAR when it is needed.
      </p>
      <h2 class="govuk-heading-l">What a discrepancy is
      </h2>
      <p>A discrepancy is when the information that an obliged entity holds about a beneficial owner clearly shows that the information recorded by Companies House is incorrect. Our focus is on clear factual errors, such as a missing PSC or an incorrect
        address.
      </p>
      <p>A spelling error would not be considered a discrepancy - such as Jon Smith instead of John Smith, or a missing or slightly different spelling of a middle name.
      </p>
      <p>If this type of minor error is found, obliged entities should encourage the company to contact us to resolve it.
      </p>
      <p>Read about the different types of discrepancies. [link to relevant section in full guidance]
      </p>
      <h2 class="govuk-heading-l">Information to include in the discrepancy report
      </h2>
      <p>When making a report, obliged entities should include the:
      </p>
      <ul class="govuk-list">
        <li>
          <a class="govuk-link" href="#">name and type of business of the obliged entity making the report</a>
        </li>
        <li>
          <a class="govuk-link" href="#">date when the discrepancy was first noticed
          </a>
        </li>
        <li>
          <a class="govuk-link" href="#">full name, email address and contact telephone number of the person making the report
          </a>
        </li>
        <li>
          <a class="govuk-link" href="#">business address of the obliged entity making the report
          </a>
        </li>
        <li>
          company name and number of the entity being reported as having a discrepancy
        </li>
        <li>the type of discrepancy - for example if it relates to a person, an RLE, a statement or a missing PSC
        </li>
        <li>details of the discrepancy - such as an incorrect address or an invalid PSC statement
        </li>
      </ul>
      <p class="govuk-body govuk-!-font-weight-bold">If a beneficial owner’s correspondence address is different from the service address on the Companies House PSC register
      </p>
      <p>Obliged entities should check with their client if the correspondence address they’ve given when a new business relationship is being set up has also been given as the PSC’s usual residential address with Companies House. If they confirm it’s the
        same address, you do not have to make a discrepancy report.
      </p>
      <p>If you are testing the reporting tool and not making an actual report - mark the submission as “test” within your organisation details.
      </p>
      <h2 class="govuk-heading-l">After the report is submitted
      </h2>
      <p>We will investigate the discrepancy. If it is valid, we’ll contact the company to ask for their comments and ask that they resolve the discrepancy to make sure the PSC register is up to date.
      </p>
      <p>If a discrepancy is not resolved we may consider removing incorrect information from the register.
      </p>
      <p>The company will not be informed that a discrepancy report has been made about their PSC register information. We will tell the obliged entity the outcome of our investigation.
      </p>
      <h2 class="govuk-heading-l">Contact us
      </h2>
      <h3 class="govuk-heading-m">By phone
      </h3>
      <ul class="govuk-list">
        <li>Telephone: 02920 348354
        </li>
        <li>Monday to Friday 8.30am to 5pm
        </li>
        <li>Find out about call charges
        </li>
      </ul>
    </div>
  </div>
{% endblock %}