{% extends "layout.html" %}
{% block pageTitle %}
  Report a discrepancy about a beneficial owner on the PSC register by an obliged entity
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl">Report a discrepancy about a beneficial owner on the PSC register
      </h1>
      <p class="govuk-body-l">This guide is for obliged entities who need to tell Companies House that the information they hold about a beneficial owner is different from the information on the people with significant control (PSC) register.
      </p>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible govuk-!-margin-bottom-3">
      <p class="govuk-body-s govuk-!-margin-bottom-1">Published 10 January 2020</p>
      <p class="govuk-body-s">From:
        <a class="govuk-link govuk-!-font-weight-bold" href="https://www.gov.uk/government/organisations/companies-house">Companies House</a>
      </p>

      <p class="govuk-body-s govuk-!-margin-bottom-2">Contents</p>
      <ul class="govuk-list govuk-list govuk-!-margin-bottom-8">
        <li>
          <a class="govuk-link govuk-body-s" href="">What an obliged entity is</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s" href="">When to report a discrepancy</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s" href="">What a discrepancy is</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s" href="">Information to include in the discrepancy report</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s" href="">After the report is submitted</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s" href="">Contact us</a>
        </li>
      </ul>
      <p class="govuk-body">Obliged entities must tell Companies House if there’s a discrepancy between the information that they hold about a beneficial owner of a company, limited liability partnership, or Scottish limited or qualifying partnership and
        the information that’s on the public people with significant control (PSC) register.</p>
      <p class="govuk-body">This will help us to make sure that the register is as accurate and up to date as possible.
      </p>
      <p class="govuk-body">A beneficial owner does not have the same definition as a PSC. The requirement to report discrepancies is based on the Companies Act definition of a PSC. Read
        <a href="https://www.gov.uk/government/publications/guidance-to-the-people-with-significant-control-requirements-for-companies-and-limited-liability-partnerships" class="govuk-link">how to identify PSCs of companies and limited liability partnerships.</a>
      </p>
      <h2 class="govuk-heading-l">What an obliged entity is
      </h2>
      <p class="govuk-body">An obliged entity is a:</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>credit institution</li>
        <li>financial institution</li>
        <li>auditor, insolvency practitioner, external accountant or tax advisor</li>
        <li>notary or other independent legal professional</li>
        <li>trust or company service provider</li>
        <li>estate agent, including when acting as an intermediary</li>
        <li>other person trading goods in cash amounting to 10,000 euros or more</li>
        <li>gambling service</li>
        <li>exchange service between virtual and fiat currencies</li>
        <li>custodian wallet provider</li>
        <li>art dealer in a gallery and auction house</li>
        <li>art dealer in a free port</li>

      </ul>
      <h2 class="govuk-heading-l">When to report a discrepancy
      </h2>
      <p class="govuk-body">Obliged entities must make a report if discrepancies are found when setting up a new business relationship with a customer.
      </p>
      <p class="govuk-body">The discrepancy report should be made as soon as possible. Obliged entities should not wait to make reports in bulk as this prevents the PSC register being kept up to date.
      </p>
      {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

      {{ govukInsetText({
  text: "A discrepancy report does not replace a Suspicious Activity Report (SAR). You should still submit a SAR when it is needed."
}) }}
    </p>
    <h2 class="govuk-heading-l">What a discrepancy is
    </h2>
    <p class="govuk-body">A discrepancy is when the information that an obliged entity holds about a beneficial owner clearly shows that the information recorded by Companies House is incorrect. Our focus is on clear factual errors, such as a missing PSC
      or an incorrect service address.
    </p>
    <p class="govuk-body">A spelling error would not be considered a discrepancy, for example Jon Smith instead of John Smith, or a missing or slightly different spelling of a middle name.
    </p>
    <p class="govuk-body">If this type of minor error is found, obliged entities should encourage the company to contact us to resolve it.
    </p>

    <h2 class="govuk-heading-l">Information to include in the discrepancy report
    </h2>
    <p class="govuk-body">When making a report, obliged entities should include the:
    </p>
    <ul class="govuk-list govuk-list--bullet">
      <li>
        name and type of business of the obliged entity making the report
      </li>
      <li>
        date when the discrepancy was first noticed
      </a>
    </li>
    <li>
      full name, email address and contact telephone number of the person making the report
    </li>
    <li>
      business address of the obliged entity making the report
    </li>
    <li>
      company name and number of the entity being reported as having a discrepancy
    </li>
    <li>type of discrepancy, for example if it relates to a person, an RLE, a statement or a missing PSC
    </li>
    <li>details of the discrepancy, for example an incorrect address or an invalid PSC statement
    </li>
  </ul>
  <br>
  <p class="govuk-body govuk-!-font-weight-bold">If a beneficial owner’s correspondence address is different from the service address on the Companies House PSC register
  </p>
  <p class="govuk-body">Obliged entities should check with their client if the correspondence address they’ve given when a new business relationship is being set up has also been given as the PSC’s usual residential address (or 'home' address) with Companies House.
  </p>
  <p class="govuk-body">If they confirm it’s the same address, you do not have to make a discrepancy report.
  </p>

  <h2 class="govuk-heading-l">After the report is submitted
  </h2>
  <p class="govuk-body">We will investigate the discrepancy. If it is valid, we’ll contact the company for their comments and ask that they resolve the discrepancy to make sure the PSC register is up to date.
  </p>
  <p>If a discrepancy is not resolved we may remove incorrect information from the register.
  </p>
  <p class="govuk-body">The company will not be informed that a discrepancy report has been made about their PSC register information.
  </p>
  <p class="govuk-body">We email the obliged entity to let them know the outcome of our investigation.
  </p>

  <h2 class="govuk-heading-l">Contact us</h2>
  <p class="govuk-body">If you have a question about reporting a PSC discrepancy, you can contact us.</p>
  <h3 class="govuk-heading-s">Telephone</h3>
  <ul class="govuk-list">
    <li>0303 1234 500</li>
    <li>Monday to Friday, 8:30am to 6pm</li>
  </ul>
  <p class="govuk-body">
    <a class="govuk-link" href="https://www.gov.uk/call-charges">Find out about call charges</a>
  </p>

  <h3 class="govuk-heading-s">Email</h3>

  <ul class="govuk-list">
    <li>
      <a href="mailto:DSR@companieshouse.gov.uk">DSR@companieshouse.gov.uk</a>
    </li>
  </ul>

</div>
</div>
{% endblock %}