{% extends "layout.html" %}
{% block pageTitle %}
  Report a discrepancy about a beneficial owner on the PSC register by an obliged entity
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <span class="govuk-caption-xl">Guidance</span>
      <h1 class="govuk-heading-xl">Report a discrepancy about a beneficial owner on the PSC register
      </h1>
      <p class="govuk-body-l">This guide is for obliged entities who need to tell Companies House that the information they hold about a beneficial owner is different from the information on the people with significant control (PSC) register.
      </p>
      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible govuk-!-margin-bottom-3">
      <p class="govuk-body-s govuk-!-margin-bottom-1">Published 10 January 2020</p>
      <p class="govuk-body-s">From:
        <a class="govuk-link govuk-!-font-weight-bold" href="https://www.gov.uk/government/organisations/companies-house">Companies House</a>
      </p>

      <p class="govuk-body-s govuk-!-margin-bottom-2">Contents</p>
      <ul class="govuk-list govuk-list govuk-!-margin-bottom-8">
        <li>
          <a class="govuk-link govuk-body-s" href="">What an obliged entity is</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s" href="">PSC information that appears on the Companies House register</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s" href="">When to report a discrepancy</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s" href="">What a discrepancy is</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s" href="">Types of discrepancy</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s" href="">Information to include in the discrepancy report</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s" href="">After the report is received by Companies House</a>
        </li>
        <li>
          <a class="govuk-link govuk-body-s" href="">How to contact us</a>
        </li>
      </ul>
      <p class="govuk-body">The Fifth Anti-Money Laundering Directive (5MLD) has now come into force in the UK.</p>
      <p class="govuk-body">This means that obliged entities must <a class="govuk-link" href="" a target=”_blank>report a PSC register discrepancy (opens in a new tab)</a> if there’s a difference between the information that they hold about a beneficial owner of a company, limited liability partnership, or Scottish limited or qualifying partnership and the information that’s on the public people with significant control (PSC) register.</p>
      <p class="govuk-body">A beneficial owner does not have the same definition as a PSC. The requirement to report discrepancies is based on the Companies Act definition of a PSC. Read <a href="https://www.gov.uk/government/publications/guidance-to-the-people-with-significant-control-requirements-for-companies-and-limited-liability-partnerships" class="govuk-link" a target=”_blank>how to identify PSCs of companies and limited liability partnerships (opens in a new tab)</a>.</p>
<h2 class="govuk-heading-l">What an obliged entity is
</h2>
<p class="govuk-body">Obliged entities include:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>credit institutions</li>
  <li>financial institutions</li>
  <li>auditors, insolvency practitioners, external accountants and tax advisors</li>
  <li>notaries and other independent legal professionals</li>
  <li>trusts or company service providers</li>
  <li>estate or letting agents, including when acting as an intermediaties</li>
  <li>other persons trading goods in cash amounting to 10,000 euros or more</li>
  <li>gambling services</li>
  <li>exchange services between virtual and fiat currencies</li>
  <li>custodian wallet providers</li>
  <li>art dealers in galleries and auction houses</li>
  <li>art dealers in free ports</li>
  </ul>

  <h2 class="govuk-heading-l">PSC information that appears on the Companies House register</h2>
<p class="govuk-body"><strong>Individual registrable person</strong></p>
<p class="govuk-body">Information about an individual registrable person includes:</p>
<ul class="govuk-list govuk-list--bullet">
<li>their name</li>
<li>their service address</li>
<li>the part of the UK (or country or state) where they usually live</li>
<li>their nationality</li>
<li>their day and month of birth</li>
<li>the date that they became a registrable person for the company</li>
<li>the nature of control over the company</li>
<li>any restrictions regarding the disclosure of their identity as a PSC</li>
</ul>
<p class="govuk-body"><strong>Information about a registrable RLE includes:</strong></p>
<ul class="govuk-list govuk-list--bullet">
<li>a corporate or firm name</li>
<li>a registered or principal office</li>
<li>legal form and the law by which it is governed</li>
<li>the register of companies in which it is entered (including details of the state) and its registration number</li>
<li>its nature of control over the company</li>
</ul>
<p class="govuk-body"><strong>Other registrable person (ORP)</strong></p>
<p class="govuk-body">Information about an ORP, such as a local authority or corporate sole, includes:
  <ul class="govuk-list govuk-list--bullet">
<li>a principal office</li>
<li>a legal form and the law by which it is governed</li>
<li>the date that they became a registrable person for the company</li>
<li>the nature of control over the company</li>
</ul>

 <h2 class="govuk-heading-l">When to report a discrepancy
      </h2>
      <p class="govuk-body">Obliged entities must make a report if discrepancies are found when setting up a new business relationship with a customer.
      </p>
      <p class="govuk-body">The discrepancy report should be made as soon as possible. Obliged entities should not wait to make reports in bulk as this prevents the PSC register being kept up to date.
      </p>
      {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{{ govukInsetText({
  text: "A discrepancy report does not replace a Suspicious Activity Report (SAR). You should still submit a SAR when it is needed."
}) }}
      </p>
      <h2 class="govuk-heading-l">What a discrepancy is
      </h2>
      <p class="govuk-body">A discrepancy is when the information that an obliged entity holds about a beneficial owner clearly shows that the information recorded by Companies House is incorrect. Our focus is on clear factual errors, such as missing or incorrect information.
        <p class="govuk-body">This could include a discrepancy with a:</p>
        <ul class="govuk-list govuk-list--bullet">
          <li>person listed as a PSC</li>
          <li>missing PSC</li>
          <li>PSC exemption</li>
          <li>PSC type</li>
          <li>address</li>
          <li>place of registration</li>
          <li>date of birth</li>
          <li>legal form</li>
          <li>company statement</li>
          </ul>
      </p>
      <p class="govuk-body">A spelling error would not be considered a discrepancy, for example Jon Smith instead of John Smith, or a missing or slightly different spelling of a middle name.
      </p>
      <p class="govuk-body">If this type of minor error is found, obliged entities should encourage the company to contact us to resolve it.
      </p>
    <h2 class="govuk-heading-l">Types of discrepancy</h2>

    <p class="govuk-body"><strong>Person</strong></p>
    <p class="govuk-body">Report a discrepancy for an existing person. For example:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>name</li>
      <li>nature of control</li>
      <li>date of birth</li>
      <li>inactive</li>
      </ul>
    <p class="govuk-body"><strong>Company</strong></p>
    <p class="govuk-body">Report a discrepancy with an existing company or registered legal entity (RLE). For example:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>nature of control</li>
      <li>governing law</li>
      <li>legal form</li>
      <li>inactive</li>
    </ul>
    <p class="govuk-body"><strong>Other registered person</strong></p>
    <p class="govuk-body">Report a discrepancy with an existing ORP. For example:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>nature of control</li>
      <li>legal form</li>
      <li>governing law</li>
      </ul>
      <p class="govuk-body">Read more <a class="govuk-link" href="https://assets.publishing.service.gov.uk/government/uploads/system/uploads/attachment_data/file/753027/170623_NONSTAT_GU__1_.pdf" a target=”_blank>  about other registered people in chapter 7.4.10 of the PSC guidance (opens in a new tab)</a>.</P>

      <p class="govuk-body"><strong>Statement</strong></p>

      <p class="govuk-body">Report a discrepancy with an existing PSC statement. For example, duplicate, incorrect or missing.</p>

      <p class="govuk-body"><strong>PSC type incorrect</strong></p>
      <p class="govuk-body">Report a discrepancy where the existing listing on the register is incorrect. For example, the company has stated that they do not have a PSC but there is a shareholder who would qualify, or a person has been notified as an RLE.</p>

      <p class="govuk-body"><strong>PSC missing</strong></p>
      <p class="govuk-body">Report a person, RLE or ORP who qualifies but is not included in the register. For example, there are 2 qualifying shareholders but only one on the register.</p>

      <p class="govuk-body"><strong>Exemption</strong></p>
      <p class="govuk-body">Report a discrepancy with the exemption statement. For example, we have been notified that they are listed on an EEA market, but they are actually listed on a UK market.</p>

      <h2 class="govuk-heading-l">Information to include in the discrepancy report
      </h2>
      <p class="govuk-body">When making a report, obliged entities should include the:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          name and type of business of the obliged entity making the report
        </li>
        <li>
          date when the discrepancy was first noticed
      </li>
      <li>
        full name, email address and contact telephone number of the person making the report
      </li>
      <li>
        business address of the obliged entity making the report
      </li>
      <li>
        company name and number of the entity being reported as having a discrepancy
      </li>
      <li>type of discrepancy, for example if it relates to a person, an RLE, a statement or a missing PSC
      </li>
      <li>details of the discrepancy, for example an incorrect address or an invalid PSC statement
      </li>
    </ul>
    <br>
    <p class="govuk-body govuk-!-font-weight-bold">If a beneficial owner’s correspondence address is different from the service address on the Companies House PSC register
    </p>
    <p class="govuk-body">Obliged entities should check with their client if the correspondence address they’ve given when a new business relationship is being set up has also been given as the PSC’s usual residential address with Companies House.
    </p>
    <p class="govuk-body">If they confirm it’s the same address, you do not have to make a discrepancy report.
    </p>

    <h2 class="govuk-heading-l">After the report is received by Companies House
    </h2>
    <p class="govuk-body">We will investigate the discrepancy. If it is valid, we’ll contact the company for their comments and ask that they resolve the discrepancy to make sure the PSC register is up to date.
    </p>
    <p>If a discrepancy is not resolved we may remove incorrect information from the register.
    </p>
    <p class="govuk-body">The company will not be informed that a discrepancy report has been made about their PSC register information.
    </p>
    <p class="govuk-body">We email the obliged entity to let them know the outcome of our investigation.
    </p>


    <h2 class="govuk-heading-l">How to contact us
    </h2>
    <p class="govuk-body">Email us at <a class="govuk-link" href="mailto:enquiries@companieshouse.gov.uk">enquiries@companieshouse.gov.uk</a> and we'll answer as soon as possible.</p>

<p class="govuk-body">Our telephone contact centre is now closed to protect the welfare of our employees during the coronavirus (COVID-19) outbreak.</p>
      </li>
    </ul>
  </div>
</div>
{% endblock %}
