{% extends "layout.html" %}
{% block pageTitle %}
  Report a PSC register discrepancy
{% endblock %}
{% block beforeContent %}
  {{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "https://www.gov.uk/"
    },
    {
      text: "Companies House Search",
      href: "https://beta.companieshouse.gov.uk/"
    },
    {
      text: "Report a discrepancy"
    }
  ]
  }) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Report a PSC register discrepancy
      </h1>
      <p class="govuk-body">
        Use this service if you are an obliged entity and the information you hold about a beneficial owner is different from the information on the people with significant control (PSC) register.
      </p>
      <p>Reporting a discrepancy takes up to 10 minutes.
      </p>
      {{ govukButton({
        text: "Start now",
        href: "/obliged-entity-type",
        isStartButton: true
      }) }}
      <h2 class="govuk-heading-m">Before you start</h2>
      <p class="govuk-body">You should read the guidance about
        <a class="govuk-link" href="https://www.gov.uk/guidance/report-a-discrepancy-about-a-beneficial-owner-on-the-psc-register-by-an-obliged-entity">reporting PSC discrepancy</a>.</p>
      <h3 class="govuk-heading-s">You'll need:</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>an email address
        </li>
        <li>
          the company number for the PSC discrepancy</li>
        <li>
          information about the discrepancy
        </li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Links
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-body-s">
            <li>
              <a class="govuk-link" href="https://www.gov.uk/guidance/report-a-discrepancy-about-a-beneficial-owner-on-the-psc-register-by-an-obliged-entity">
                Guidance on reporting a discrepancy
              </a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>
{% endblock %}