{% extends "layout.html" %}

{% block pageTitle %}
  Obliged Entity PSC Discrepancy
{% endblock %}
{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/browse/business">Business and self-employed</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk/browse/business/limited-company">Running a limited company</a>
      </li>
    </ol>
  </div>
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Obliged entity PSC discrepancy
      </h1>
      <p class="govuk-body-l">Use this service to report any discrepancies within a company’s PSC register</p>

      <p>
        It may take up to 20 minutes to complete this application.
      </p>

      {{ govukButton({
  text: "Start now",
  href: "https://www.smartsurvey.co.uk/s/AIBN4/",
  isStartButton: true
}) }}
      <h2 class="govuk-heading-m">Before you start</h2>
      <p>You should read the guidance on
        <a href="#">reporting PSC discrepancy</a>.</p>
      <h3 class="govuk-heading-s">You'll need:</h3>
      <ul class="govuk-list govuk-list--bullet">
        <li>the company number(s)</li>
        <li>an email address</li>
        <li>information about the discrepancy</li>
        <li>any documents that support your claim</li>
      </ul>
    </div>
    <div class="govuk-grid-column-one-third">
      <aside class="app-related-items" role="complementary">
        <h2 class="govuk-heading-m" id="subsection-title">
          Subsection
        </h2>
        <nav role="navigation" aria-labelledby="subsection-title">
          <ul class="govuk-list govuk-body-s">
            <li>
              <a href="https://www.gov.uk/file-an-annual-return-with-companies-house">
                File your confirmation statement (annual return) with Companies House
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/running-a-limited-company">
                Running a limited company
              </a>
            </li>
            <li>
              <a href="https://www.gov.uk/browse/business/limited-company" class="govuk-!-w-bold">
                More
                <span class="visuallyhidden">Running a limited company</span>
              </a>
            </li>
          </ul>
        </nav>
      </aside>
    </div>
  </div>

{% endblock %}