{% extends "layout.html" %}
{% block pageTitle %}
  Your full name
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  href: "obliged-entity-type",
  text: "Back"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/obliged-entity-details-name" method="post">
        {% if errorName == true %}
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: errorList
      }) }}
          {{ govukInput({
      label: {
        text: "Your full name",
        isPageHeading: true,
        classes: "govuk-label--xl"
      },
      id: "full-name",
      name: "full-name",
      autocomplete: "name",
      attributes: {
        spellcheck: "false"
      },
      errorMessage: {
          text: "Enter your name"
      }
    }) }}
        {% else %}
          {{ govukInput({
        label: {
          text: "Your full name",
          isPageHeading: true,
          classes: "govuk-label--xl"
        },
        id: "full-name",
        name: "full-name",
        autocomplete: "name",
        attributes: {
          spellcheck: "false"
        }
      }) }}
        {% endif %}
        {{ govukButton({
        text: "Continue"
      }) }}
      </form>
    </div>
  </div>
{% endblock %}