{% extends "layout.html" %}
{% block pageTitle %}
  Your UK telephone number
{% endblock %}
{% block beforeContent %}
  {% include "includes/sign-in.html" %}
  {{ govukBackLink({
  href: "obliged-entity-details-organisation",
  text: "Back"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukInput({
        label: {
          text: "UK telephone number",
          isPageHeading: true,
          classes: "govuk-label--xl"
        },
  hint: {
    text: "For international numbers include the country code."
  },
        id: "telephone-number",
        name: "telephone-number",
        type: "tel",
        autocomplete: "tel",
        classes: "govuk-input--width-20"
      }) }}
      {{ govukButton({
text: "Continue",
href: "/discrepancy-details/company-number.html"
}) }}
    </div>
  </div>

{% endblock %}