{% extends "layout.html" %}
{% block pageTitle %}
  {% if errorEmail == true %}
    Error:
  {% endif %}
  {{ pageTitle("What is your email address?") }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      {% if errorEmail == true %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}
      <form action="{{currentUrl}}" method="post">
        {% if errorEmail == true %}
          {{ govukInput({
            label: {
              text: "What is your email address?",
              classes: "govuk-label--l",
              isPageHeading: true
            },
            hint: {
              text: "We’ll only use this to contact you for more information."
            },
            id: "email",
            name: "email",
            classes: "govuk-!-width-two-thirds",
            autocomplete: "email",
            hint: {
              text: "We’ll only use this to contact you if we need more information."
            },
            errorMessage: {
              text: "Enter your email address"
            },
            attributes: {
              spellcheck: "false"
            }
          }) }}
        {% else %}
          {{ govukInput({
            label: {
              text: "What is your email address?",
              classes: "govuk-label--l",
              isPageHeading: true
            },
            hint: {
              text: "We’ll only use this to contact you if we need more information."
            },
            id: "email",
            name: "email",
            classes: "govuk-!-width-two-thirds",
            autocomplete: "email",
            attributes: {
              spellcheck: "false"
            }
          }) }}
        {% endif %}
        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}