{% extends "layout.html" %}
{% block pageTitle %}
  Obliged entity type
{% endblock %}
{% block beforeContent %}{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Obliged entity list</h1>
      <p class="govuk-body-l">To report a discrepancy you must be one of the following:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>Credit Institutions</li>
        <li>Financial Institutions</li>
        <li>Auditors, external accountants and tax advisors</li>
        <li>Notaries and other independent legal professionals</li>
        <li>Estate agents including when acting as intermediaries</li>
        <li>Other persons trading in goods in cash in an amount of EUR 10 000 or more</li>
        <li>Providers of gambling services</li>
      </ul>
      {{ govukInsetText({
        text: "If your not on this list then you are not obliged to report a PSC discrepency with Companies House."
      }) }}

      {{ govukButton({
  text: "Continue",
  href: 'obliged-entity-details-organisation',
    classes: "govuk-!-margin-right-1"
}) }}
    </div>
  </div>
{% endblock %}