{% extends "layout.html" %}
{% block pageTitle %}
  Obliged entity type
{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({
  href: "/",
  text: "Back"
}) }}
{% endblock %}
{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ govukRadios({
        idPrefix: "where-do-you-live",
        name: "where-do-you-live",
        fieldset: {
          legend: {
            text: "What type of obliged entity are you?",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--xl"
          }
        },
        items: [
          {
            value: "england",
            text: "Credit institution"
          },
          {
            value: "scotland",
            text: "Financial institution"
          },
          {
            value: "wales",
            text: "Auditor, external accountant or tax advisor"
          },
          {
            value: "northern-ireland",
            text: "Notary or independent legal professional"
          },
          {
            value: "northern-ireland",
            text: "Estate agent or intermediary"
          },
          {
            value: "northern-ireland",
            text: "Entity trading goods in cash over €10,000"
          },
          {
            value: "northern-ireland",
            text: "Gambling service provider"
          },
          {
            value: "northern-ireland",
            text: "Exchange service provider of fiat and virtual currencies"
          },
          {
            value: "northern-ireland",
            text: "Custodian wallet provider"
          },
          {
            value: "northern-ireland",
            text: "Art dealer - galleries and auction houses"
          },
          {
            value: "northern-ireland",
            text: "Art dealer - free ports"
          }
        ]
      }) }}
      {{ govukInsetText({
        text: "If your not on this list then you are not obliged to report a PSC discrepency with Companies House."
      }) }}
      {{ govukButton({
        text: "Continue",
        href: 'obliged-entity-details-organisation',
        classes: "govuk-!-margin-right-1"
      }) }}
    </div>
  </div>
{% endblock %}