{% extends "layout.html" %}

{% block pageTitle %}
  Obliged Entity PSC Discrepancy
{% endblock %}
{% block beforeContent %}

  {{ govukBackLink({
  href: "#",
  text: "Back"
}) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% set textHtml %}
      {{ govukInput({
  id: "other-organisation",
  name: "other-organisation",
  classes: "govuk-!-width-one-third",
  label: {
    text: "How would you describe your organisation?"
  }
}) }}
      {% endset -%}
      {{ govukRadios({
  idPrefix: "organisation-type",
  name: "organisation-type",
  fieldset: {
    legend: {
      text: "What type of organisation are you?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--xl"
    }
  },
  items: [
    {
      value: "bank",
      text: "Bank or Financial Institution"
    },
    {
      value: "account",
      text: "Accountants, Auditors or Tax Adviser"
    },
    {
      value: "solicitor",
      text: "Solicitors or Legal Counsel"
    },
    {
      value: "trusted-service",
      text: "Trusted Service Providers (e.g. Formation agent)"
    },
    {
      value: "credit-reference",
      text: "Credit Reference Agencies"
    },
    {
      value: "",
      text: "Other",
      conditional: {
  html: textHtml
}
    }
  ]
}) }}
      {{ govukButton({
text: "Continue",
href: "company-name.html"
}) }}

    </div>
  </div>

{% endblock %}