{% extends "layout.html" %}

{% block pageTitle %}
  Sign in to Companies House
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h1 class="govuk-heading-xl">Sign in as an obliged entity</h1>
      {{ govukInput({
        label: {
          text: "Email address",
          classes: "govuk-\!-font-weight-bold"
        },
        id: "email",
        name: "email"
      }) }}
      {{ govukInput({
        label: {
          text: "Password",
          classes: "govuk-\!-font-weight-bold"
        },
        id: "password",
        type: "password",
        name: "password"
      }) }}
      {{ govukButton({
        text: "Sign in",
        href: 'obliged-entity-type'
      }) }}
      <p>
        <a href="#" class="govuk-link block govuk-body govuk-!-font-size-9">Register as an obliged entity</a>
      </p>
      <p>
        <a href="#" class="govuk-link block govuk-body govuk-!-font-size-9">Forgotten your password?</a>
      </p>
    </div>
  </div>
{% endblock %}