{% extends "layout.html" %}

{% block pageTitle %}
  Obliged Entity PSC Discrepancy
{% endblock %}
{% block beforeContent %}

  {{ govukBackLink({
  href: "#",
  text: "Back"
}) }}
{% endblock %}
{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Company name</h1>
      {{ govukInput({
        label: {
          text: "Company name"
        },
        id: "event-name",
        name: "event-name"
      }) }}
      {{ govukButton({
text: "Continue",
href: "fourth-report.html"
}) }}

    </div>
  </div>

{% endblock %}